# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Google Gemini AI API Key
# Get this from: https://aistudio.google.com/app/apikey
GOOGLE_GEMINI_API_KEY=
GOOGLE_GEMINI_API_KEY_I=
GOOGLE_GEMINI_API_KEY_II=
GOOGLE_GEMINI_API_KEY_III=
GOOGLE_GEMINI_API_KEY_IV=
GOOGLE_GEMINI_API_KEY_V=
GOOGLE_GEMINI_API_KEY_VI=
GOOGLE_GEMINI_API_KEY_VII=
GOOGLE_GEMINI_API_KEY_VIII=
GOOGLE_GEMINI_API_KEY_IX=


# USER DEFAULT PASSWORD
DEFAULT_USER_PASSWORD=